body {
    height: 100%;
    width: 80% !important; /* Ieteicamais lapas platums */
    width: 200px; /* Mazākais iespējamais lapas platums */
    max-width: 900px; /* Maksimālais lapas platums //700-900px */
    margin: auto; /* Atkāpes ārpus body elementa */
    background-color: #a3a3a3;

}

p {
	background-color: rgb(211, 189, 131);
	color: #052e00;
	border: 0.4px solid rgb(255, 175, 175);
}	

table {
    background-color: rgba(255, 255, 255, );
}
.des1 {
    text-align: center;
    border: 0.4px solid rgb(255, 175, 175);
    padding: 12px;
}
.text {
    color: #777777
}