body {
    height: 100%;
    width: 80% !important; 
    width: 200px; 
    max-width: 900px; 
    margin: auto;
    background-color: #ffffff;

}

hr {
    border: 10px, #daffac;
    border-radius: 2px;
}

.lapasSaturs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
	background-color: rgb(255, 250, 238);
	color: #052e00;
	border: 0.4px solid rgb(255, 175, 175);
}	

table {
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
}
.des1 {
    text-align: center;
    border: 0.4px solid rgb(255, 175, 175);
    padding: 12px;
}
.text {
    color: #777777
}