body {
    height: 100%;
    width: 80% !important; 
    width: 200px; 
    max-width: 900px; 
    margin: auto;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #0066ff, rgb(0, 22, 218), rgb(153, 0, 255), rgb(234, 0, 255));
}
.krasasIedal{
    color:rgb(234, 0, 255)
}
a{
    color: rgb(0,0,0);
}
a:link{
    color: rgb(0,0,0);
}
a:visited{
    color:#bbb;
}
a:hover{
    color:#366100
}
a:active{
    font-style: italic;
}

hr {
    border: 10px, #daffac;
    border-radius: 2px;
}

.lapasSaturs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
	background-color: rgb(255, 250, 238);
	color: #052e00;
	border: 0.4px solid rgb(255, 175, 175);
}	

table {
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}
.des1 {
    text-align: center;
    border: 0.4px solid rgb(255, 175, 175);
    padding: 12px;
}
.text {
    color: #777777
}
.helloButton{
    color: #b3b3b3c5
}
.vel{
    margin: auto;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.vel:hover{
    margin: auto;
    background-color: #1f5f21; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
